*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, orange, purple);
}
body .calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
body .calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(227, 220, 210);
}
body .calculator-grid button:hover {
  background-color: rgb(237, 233, 226);
}
body .span-two {
  grid-column: span 2;
}
body .output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
body .output .previous-operand {
  color: rgb(236, 234, 234);
  font-size: 1.5rem;
}
body .output .current-operand {
  color: white;
  font-size: 2.5rem;
}